.timeline__container {
    display: flex;
    justify-content: center;
}
.SobreMim__title{
    color: #FFF;
    font-family: Poppins;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left:12rem;
    margin-top:16rem;
}
  
.timeline {
    width: 80rem;
    height: 0.75rem;
    background: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-top:10rem;
}
  
.timeline__point {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
  
.timeline__item {
    width: 2rem;
    height: 2rem;
    background: #FFF;
    border-radius: 50%;
    margin-top:1rem;
}
  
.timeline__title,
.timeline__desc {
    text-align: center;
    position:relative;
    width:7rem;
}
  
.timeline__title {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    color: #FFF;
}
  
.timeline__desc {
    margin-top: 0.5rem;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer__item{
    width:3.375rem;
    height:3.375rem;
}

.footer__container{
    display:flex;
    justify-content:space-around;
    margin-top:18rem;
    padding-left:10rem;
    padding-right:10rem;
    align-items: center;

}

.footer__contact__container{
    display:flex;
    justify-content: space-between;
    gap:7rem;
}

.footer__list{
    list-style-type: none;
    display:flex;
    gap:4rem;
}

.footer__contact h5, p {
    color: #FFF;
    font-family: Poppins;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#\32 023{
    margin-top:4rem;
}   

#\32 024 {
    margin-top:6.2rem;
}

#\32 025{

    margin-top:12rem;
}

